.account-nav ul li {
    color: rgb(19, 18, 18);
}
.account-nav ul li:hover{
    color: rgba(97, 95, 95);
    cursor: pointer;
}
.account-nav{
    margin-top: 30px;
    border-bottom: 1px  rgb(219, 219, 219) solid;
    font-size: 1.3em;
    width: 550px;
    
}
.active{
     text-decoration: underline;
    /* color: rgba(97, 95, 95);
     */
     /* color: red; */

}