.card{
    background-color: #a5f0f3;
    width: 300px;
    height: 350px;
    padding: 10px 20px;
    margin: 5px;
}

.progress-bar{
    background-color: white;
    overflow: hidden;
    border-radius: 25px;
    position: relative;
    width: 100%;
    height: 15px;
}
.percent{
    position: inherit;
    border-radius: 25px;
    height: 100%;
    /* width: 50%; */
    /* background-color: rgb(74, 74, 100); */
    /* FFEAD0 */
    /* FB3640 */
    background-color: #323246;
    /* transition: width 0.5s ease-in; */
}