.nav {
    list-style: none;
    text-decoration: none;
}

.nav li {
    display: inline;
    margin: 0 10px;
}
.nav li a{
    text-decoration: none;
}
.wallet{
    display: inherit;
    border: 1px black solid;
    padding: 10px 4px;
}
.wallet button{
    border: 1px blue solid;
    height: 100%;
    padding: 4px;
    margin: 5px;
}