.why{
    position: relative;
    height: 400px;
    width: 800px;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 70px;
    background-color: rgb(168, 168, 168);
    text-align: center;
    top: 50%;
    transform: translate( -50%);
    /* position: absolute; */
    left: 50%;
    /* padding: 10px; */


}

.fitting{
    position: relative;
    height: 500px;
    /* width: 500px; */
    object-fit: cover;
    object-position: center center;
}
.why .flickity-enabled .is-draggable{
    text-align: center;
}
